<!-- login.component.html -->
<div class="login-container">
    <h2>Login</h2>

    <form (ngSubmit)="login()">
        <!-- Email Field -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="credentials.Username" name="email" class="form-control" required
                placeholder="Enter your email" />
        </div>

        <!-- Password Field -->
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="credentials.Password" name="password" class="form-control" required
                placeholder="Enter your password" />
        </div>

        @if (errorMessage) {
            <div class="error-message">
                {{ errorMessage }}
            </div>
        }
        <!-- Error Message -->
        

        <!-- Login Button -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>